@use 'vars' as *;
@use 'fonts';
@use 'font-functions' as *;

.primary-button {
  font-family: 'Sukhumvit Set', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  color: $dark-primary-color;
  background-color: $accent-color;
  border: none;
  border-radius: 2px;
  padding: 14px 102px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.15s linear;

  &:hover, &:focus {
    background-color: darken($accent-color, 10%);
  }
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(15px);
  width: rem(182px);
  
  font-family: 'Sukhumvit Set', 'sans-serif';
  font-weight: 500;
  font-size: rem(18px);
  line-height: rem(22px);
  
  color: $light-primary-color;
  background-color: $dark-accent-color;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.15s linear;

  @media screen and (max-width: 500px) {
    font-size: 12px;
  }

  &:hover, &:focus {
    background-color: lighten($dark-accent-color, 15%);
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: rem(22px);
    margin-right: rem(12px);
  }
}
