@use 'font-functions' as *;

// Sukhumvit Set //
@font-face {
  @include font-src('../assets/fonts/Sukhumvit Set/SukhumvitSet-Light/SukhumvitSet-Light');
  font-family: 'Sukhumvit Set';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  @include font-src('../assets/fonts/Sukhumvit Set/SukhumvitSet-Regular/SukhumvitSet-Regular');
  font-family: 'Sukhumvit Set';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  @include font-src('../assets/fonts/Sukhumvit Set/SukhumvitSet-Medium/SukhumvitSet-Medium');
  font-family: 'Sukhumvit Set';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  @include font-src('../assets/fonts/Sukhumvit Set/SukhumvitSet-Bold/SukhumvitSet-Bold');
  font-family: 'Sukhumvit Set';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Saudagar //
@font-face {
  @include font-src('../assets/fonts/Saudagar/Saudagar-Regular/Saudagar-Regular');
  font-family: 'Saudagar';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
