$light-bg-color: #FFFFFF;
$dark-bg-color: #1A1A1A;
$light-primary-color: #FFFFFF;
$light-secondary-color: #FFFFFFCC;
$dark-primary-color: #1A1A1A;
$dark-secondary-color: #1A1A1ACC;

$accent-color: #DCAC9B;
$dark-accent-color: black;

$label-color: #8E8E8E;
$input-border-color: #FFFFFFB2;
