:root {
  --default-font-size: 16px;
}

@media screen and (max-width: 1300px) {
  :root {
    --default-font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --default-font-size: 12px;
  }
}
@font-face {
  src: url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Light/SukhumvitSet-Light.eot");
  src: url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Light/SukhumvitSet-Light.woff") format("woff"), url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Light/SukhumvitSet-Light.otf") format("opentype"), url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Light/SukhumvitSet-Light.ttf") format("truetype"), url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Light/SukhumvitSet-Light.svg") format("svg");
  font-family: "Sukhumvit Set";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Regular/SukhumvitSet-Regular.eot");
  src: url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Regular/SukhumvitSet-Regular.woff") format("woff"), url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Regular/SukhumvitSet-Regular.otf") format("opentype"), url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Regular/SukhumvitSet-Regular.ttf") format("truetype"), url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Regular/SukhumvitSet-Regular.svg") format("svg");
  font-family: "Sukhumvit Set";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Medium/SukhumvitSet-Medium.eot");
  src: url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Medium/SukhumvitSet-Medium.woff") format("woff"), url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Medium/SukhumvitSet-Medium.otf") format("opentype"), url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Medium/SukhumvitSet-Medium.ttf") format("truetype"), url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Medium/SukhumvitSet-Medium.svg") format("svg");
  font-family: "Sukhumvit Set";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Bold/SukhumvitSet-Bold.eot");
  src: url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Bold/SukhumvitSet-Bold.woff") format("woff"), url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Bold/SukhumvitSet-Bold.otf") format("opentype"), url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Bold/SukhumvitSet-Bold.ttf") format("truetype"), url("../assets/fonts/Sukhumvit Set/SukhumvitSet-Bold/SukhumvitSet-Bold.svg") format("svg");
  font-family: "Sukhumvit Set";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../assets/fonts/Saudagar/Saudagar-Regular/Saudagar-Regular.eot");
  src: url("../assets/fonts/Saudagar/Saudagar-Regular/Saudagar-Regular.woff") format("woff"), url("../assets/fonts/Saudagar/Saudagar-Regular/Saudagar-Regular.otf") format("opentype"), url("../assets/fonts/Saudagar/Saudagar-Regular/Saudagar-Regular.ttf") format("truetype"), url("../assets/fonts/Saudagar/Saudagar-Regular/Saudagar-Regular.svg") format("svg");
  font-family: "Saudagar";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.primary-button {
  font-family: "Sukhumvit Set", "sans-serif";
  font-weight: 700;
  font-size: 18px;
  color: #1A1A1A;
  background-color: #DCAC9B;
  border: none;
  border-radius: 2px;
  padding: 14px 102px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.15s linear;
}
.primary-button:hover, .primary-button:focus {
  background-color: #cf8d75;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem;
  width: 11.375rem;
  font-family: "Sukhumvit Set", "sans-serif";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #FFFFFF;
  background-color: black;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.15s linear;
}
@media screen and (max-width: 500px) {
  .link-button {
    font-size: 12px;
  }
}
.link-button:hover, .link-button:focus {
  background-color: #262626;
}
.link-button [class^=icon-], .link-button [class*=" icon-"] {
  font-size: 1.375rem;
  margin-right: 0.75rem;
}

.input-box {
  position: relative;
  height: 3.375rem;
}

label {
  font-family: "Sukhumvit Set", "sans-serif";
  font-weight: 300;
  font-size: 1rem;
  line-height: 165%;
  text-transform: uppercase;
  color: #8E8E8E;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
  position: absolute;
  transform: translateY(-50%);
  left: 0;
  top: 50%;
}

input[type=text], input[type=email], .select {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-size: 1rem;
  background: none;
  border: none;
  border-bottom: 2px solid #FFFFFFB2;
  padding: 0.875rem 0.5rem;
  outline: none;
  transition: all 0.25s ease-in-out;
}
input[type=text]:hover + label, input[type=email]:hover + label, .select:hover + label {
  color: #a8a8a8;
}
input[type=text]:focus + label, input[type=text]:not(input[type=text]:placeholder-shown, input[type=email]:placeholder-shown, .select:placeholder-shown) + label, input[type=email]:focus + label, input[type=email]:not(input[type=text]:placeholder-shown, input[type=email]:placeholder-shown, .select:placeholder-shown) + label, .select:focus + label, .select:not(input[type=text]:placeholder-shown, input[type=email]:placeholder-shown, .select:placeholder-shown) + label {
  color: #a8a8a8;
  font-size: 0.75rem;
  top: 0;
}

.select {
  cursor: pointer;
}
.select ~ .icon-select-arrow {
  position: absolute;
  transform: translateY(-50%);
  right: 0;
  top: 50%;
  font-size: 6px;
  color: white;
}

@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/Icons/icomoon.eot?pladt7");
  src: url("../assets/fonts/Icons/icomoon.eot?pladt7#iefix") format("embedded-opentype"), url("../assets/fonts/Icons/icomoon.ttf?pladt7") format("truetype"), url("../assets/fonts/Icons/icomoon.woff?pladt7") format("woff"), url("../assets/fonts/Icons/icomoon.svg?pladt7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple:before {
  content: "\e900";
}

.icon-copyright:before {
  content: "\e901";
}

.icon-google-play:before {
  content: "\e902";
}

.icon-select-arrow:before {
  content: "\e903";
}

h1 {
  font-family: "Saudagar", "sans-serif";
  font-weight: 400;
  font-size: 17.1875rem;
  line-height: 100%;
  text-transform: uppercase;
}

h2 {
  font-family: "Saudagar", "sans-serif";
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 130%;
  text-transform: uppercase;
}

p {
  font-family: "Sukhumvit Set", "sans-serif";
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 172%;
}
p.description {
  font-size: 2rem;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 25px;
  }

  p {
    font-size: 14px;
  }
}
.promo-text {
  font-family: "Saudagar", "sans-serif";
  font-weight: 400;
  font-size: 16.40625vw;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.dark h1, .dark h2 {
  color: #FFFFFF;
}
.dark p {
  color: #FFFFFFCC;
}

.light h1, .light h2 {
  color: #1A1A1A;
}
.light p {
  color: #1A1A1ACC;
}

h1, h2, p {
  margin: 0;
}

html {
  font-size: var(--default-font-size);
}

* {
  font-family: "Sukhumvit Set", sans-serif;
  font-style: normal;
  font-weight: 300;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

section.dark {
  background-color: #1A1A1A;
}
section.light {
  background-color: #FFFFFF;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5rem 7.1875rem;
  z-index: 1;
}
@media screen and (max-width: 900px) {
  header {
    padding: 3.75rem 5.625rem;
  }
}
@media screen and (max-width: 650px) {
  header {
    padding-left: 0;
    padding-right: 0;
  }
}
header > *:not(:last-child) {
  margin-right: 4.0625rem;
}
@media screen and (max-width: 900px) {
  header > *:not(:last-child) {
    margin-right: 1.875rem;
  }
}
header .logo {
  width: 9.4375rem;
  height: 3.1875rem;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: 500;
  color: #FFFFFF;
}
@media screen and (max-width: 650px) {
  header .logo {
    margin-left: auto;
    width: 25%;
  }
}
header div,
header a {
  font-size: 1.125rem;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (max-width: 650px) {
  header div,
header a {
    display: none;
  }
}
header div i,
header a i {
  margin-right: 0.75rem;
}

.title-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#000000b8, #000000b8), url("../assets/images/title-bg.jpg");
  background-blend-mode: normal;
  background-size: cover;
  background-position: 30%;
  padding-top: 23.75rem;
  padding-bottom: 21.875rem;
  min-height: 100vh;
}
@media screen and (max-width: 500px) {
  .title-block {
    padding-top: 230px;
    padding-bottom: 200px;
  }
}
.title-block > * {
  display: block;
  max-width: max-content;
}
@keyframes fading-title {
  10%, 90% {
    opacity: 0;
  }
  40%, 60% {
    opacity: 1;
  }
}
@media screen and (max-width: 650px) {
  .title-block h1 {
    font-size: 28vw;
  }
}
.title-block h1 span {
  font-family: inherit;
  opacity: 0;
}
.title-block h1 span:nth-child(1) {
  animation: fading-title 5s ease-in-out 0.25s infinite;
}
.title-block h1 span:nth-child(2) {
  animation: fading-title 5s ease-in-out 0.5s infinite;
}
.title-block h1 span:nth-child(3) {
  animation: fading-title 5s ease-in-out 0.75s infinite;
}
.title-block h1 span:nth-child(4) {
  animation: fading-title 5s ease-in-out 1s infinite;
}
.title-block h1 span:nth-child(5) {
  animation: fading-title 5s ease-in-out 1.25s infinite;
}
.title-block .description {
  margin: 0 5% 4.375rem;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .title-block .description {
    font-size: 4.5vw;
  }
}
.title-block .links {
  position: absolute;
  bottom: 65px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media screen and (min-width: 650px) {
  .title-block .links {
    display: none;
  }
}
.title-block .links > * {
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 130%;
  text-decoration: none;
}
.title-block .links > *:not(:last-child) {
  margin-right: 8px;
}
.title-block .links > * i {
  margin-right: 5px;
}

.coming-soon {
  overflow-x: hidden;
  overflow-y: auto;
}
.coming-soon .promo-text {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 12.5rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.06) 30%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.06) 70%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}
@keyframes shine {
  to {
    background-position: -200% center;
  }
}
@media screen and (max-width: 650px) {
  .coming-soon .promo-text {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 500px) {
  .coming-soon .promo-text {
    margin-bottom: 50px;
  }
}
.coming-soon .content {
  padding: 0 2.1875rem;
}
.coming-soon .content * {
  display: block;
  max-width: 54.0625rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.coming-soon .content h2 {
  margin-bottom: 2.5rem;
}
.coming-soon .content p {
  margin-bottom: 2.375rem;
}
.coming-soon .content p:last-child {
  margin-bottom: 27.5rem;
}
@media screen and (max-width: 650px) {
  .coming-soon .content p:last-child {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 500px) {
  .coming-soon .content p:last-child {
    margin-bottom: 50px;
  }
}

.num {
  font-family: "Saudagar", sans-serif;
  font-size: 1.875rem;
  line-height: 150%;
  color: #DCAC9B;
}
@media screen and (max-width: 500px) {
  .num {
    font-size: 14px;
  }
}

h2 {
  margin-bottom: 2.8125rem;
}
@media screen and (max-width: 500px) {
  h2 {
    margin-bottom: 7px;
  }
}

.text > .num {
  transition: 0.12s ease-out;
}
.text:hover > .num {
  transform: translate(-1.25rem);
}

.s-01 > img {
  display: block;
  width: 95%;
  max-width: 95rem;
  max-height: 47.5rem;
  margin: 0 auto 8.75rem;
  transform: translateY(-12.5rem);
  object-fit: cover;
}
@media screen and (max-width: 650px) {
  .s-01 > img {
    width: 100%;
    max-height: 60vw;
    margin-bottom: 50px;
    transform: none;
  }
}
.s-01 .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20.3125rem;
  padding: 0 2.5rem;
  max-width: 96.25rem;
}
@media screen and (max-width: 650px) {
  .s-01 .content {
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
  }
}
.s-01 .content img {
  width: 37.8125rem;
  height: 20.625rem;
  margin-right: 5rem;
  object-fit: cover;
}
@media screen and (max-width: 1100px) {
  .s-01 .content img {
    width: 50%;
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 650px) {
  .s-01 .content img {
    width: 100%;
    height: auto;
    margin: 30px 0 65px;
    padding: 0 20px;
  }
}
.s-01 .content .text {
  max-width: 30.3125rem;
}
@media screen and (max-width: 650px) {
  .s-01 .content .text {
    max-width: 70%;
    padding-right: 30px;
  }
  .s-01 .content .text > * {
    width: 100%;
  }
  .s-01 .content .text p {
    width: 305px;
  }
}
@media screen and (max-width: 400px) {
  .s-01 .content .text {
    max-width: none;
    width: 100%;
    padding: 0 20px;
  }
  .s-01 .content .text p {
    width: 100%;
    padding-right: 30px;
  }
}

.s-02 {
  overflow: visible;
}
.s-02 .content {
  height: max-content;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 12.5rem 0 17.5rem;
  margin: 0 auto;
}
@media screen and (max-width: 1600px) {
  .s-02 .content {
    padding: 0 6.25rem 0 9.375rem;
  }
}
@media screen and (max-width: 1100px) {
  .s-02 .content {
    padding: 0 3.125rem 0 4.6875rem;
    height: 37.5rem;
  }
}
@media screen and (max-width: 900px) {
  .s-02 .content {
    padding: 0;
    flex-direction: column;
    height: max-content;
  }
}
.s-02 .content img {
  width: 36.25rem;
  height: 64.375rem;
  margin-top: -5rem;
  object-fit: cover;
  object-position: 35%;
}
@media screen and (max-width: 1600px) {
  .s-02 .content img {
    height: 59.375rem;
  }
}
@media screen and (max-width: 1100px) {
  .s-02 .content img {
    width: 50%;
    margin: 0;
    height: 31.25rem;
    align-self: center;
  }
}
@media screen and (max-width: 900px) {
  .s-02 .content img {
    width: 100%;
    height: auto;
    max-height: 28.75rem;
  }
}
.s-02 .content .text {
  align-self: center;
  max-width: 28.125rem;
  padding-right: 2.5rem;
}
@media screen and (max-width: 900px) {
  .s-02 .content .text {
    margin: 4.6875rem 0;
    max-width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .s-02 .content .text {
    margin: 0;
    padding: 50px 20px;
    max-width: none;
  }
}
.s-02 .content .text h2 {
  max-width: 24.375rem;
}

.s-03 .content {
  display: flex;
  justify-content: space-between;
  padding: 15rem 12.5rem 0;
  margin: 0 auto;
  max-width: 1920px;
}
@media screen and (max-width: 1500px) {
  .s-03 .content {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
}
@media screen and (max-width: 1100px) {
  .s-03 .content {
    height: max-content;
    flex-direction: column;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 6.25rem 6.25rem 0;
  }
}
@media screen and (max-width: 500px) {
  .s-03 .content {
    padding: 54px 20px 0;
  }
}
.s-03 .content .text {
  max-width: 30.3125rem;
}
@media screen and (max-width: 1100px) {
  .s-03 .content .text:first-child {
    align-self: flex-start;
    margin-bottom: 6.25rem;
  }
}
@media screen and (max-width: 900px) {
  .s-03 .content .text:first-child {
    align-self: center;
  }
}
@media screen and (max-width: 500px) {
  .s-03 .content .text:first-child {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1100px) {
  .s-03 .content .text:last-child {
    align-self: flex-end;
  }
}
@media screen and (max-width: 900px) {
  .s-03 .content .text:last-child {
    align-self: center;
  }
}
.s-03 .content .text h2 {
  max-width: 24.375rem;
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 17.5rem;
}
@media screen and (max-width: 1100px) {
  .phone {
    padding-top: 13.75rem;
  }
}
@media screen and (max-width: 500px) {
  .phone {
    padding-top: 65px;
  }
}
.phone .content {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 4.375rem 0 16.5625rem;
  width: 120rem;
}
@media screen and (max-width: 500px) {
  .phone .content {
    margin: 25px 0 100px;
  }
}
.phone .content .circle {
  display: block;
  width: 33.8125rem;
  height: 33.8125rem;
  border-radius: 50%;
  background-color: #DCAC9B;
  margin-right: 2.5rem;
  opacity: 0.6;
}
@media screen and (max-width: 500px) {
  .phone .content .circle {
    width: 200px;
    height: 200px;
  }
}
.phone .content .circle.decorative {
  background-color: #ffffff00;
  margin-right: 0;
  animation: rotation 30s linear infinite;
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
.phone .content .phone-img {
  display: block;
  position: absolute;
  top: -4.375rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 47.25rem;
  border-radius: 1.9375rem;
  box-shadow: 0px 4px 94px rgba(69, 56, 44, 0.15);
  backface-visibility: hidden;
}
@media screen and (max-width: 500px) {
  .phone .content .phone-img {
    top: -25px;
    height: 280px;
    border-radius: 11.5px;
  }
}
.phone .highlighted {
  font-weight: 400;
  font-size: 1.5625rem;
  text-transform: uppercase;
  margin-bottom: 3.125rem;
}
@media screen and (max-width: 500px) {
  .phone .highlighted {
    font-size: 12px;
    margin-bottom: 15px;
  }
}
.phone .links {
  display: flex;
  margin-bottom: 12.5rem;
}
@media screen and (max-width: 500px) {
  .phone .links {
    margin-bottom: 70px;
  }
}
.phone .links > *:not(:last-child) {
  margin-right: 20px;
}

.subscribe {
  display: flex;
}
.subscribe img {
  max-width: 50%;
  object-fit: cover;
}
@media screen and (max-width: 1000px) {
  .subscribe img {
    display: none;
  }
}
.subscribe form {
  max-width: 41.25rem;
  width: 100%;
  padding: 7.5rem 3.125rem;
  margin: auto;
}
@media screen and (max-width: 400px) {
  .subscribe form {
    padding: 70px 20px;
  }
}
.subscribe form > * {
  width: 100%;
}
.subscribe form .input-box {
  margin-bottom: 2.25rem;
}
.subscribe form button {
  margin-top: 2.125rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.875rem 7.8125rem;
  color: #FFFFFF;
  background-color: black;
}
@media screen and (max-width: 650px) {
  footer {
    padding: 40px 60px;
  }
}
@media screen and (max-width: 500px) {
  footer {
    padding: 40px 20px;
    font-size: 10px;
  }
}

/*# sourceMappingURL=index.css.map */
